.hover-tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .hover-tooltip strong {
    font-weight: bold;
  }